@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Airbnb Cereal";
  font-weight: 300; /* Light */
  src: url("/fonts/airbnb-cereal/light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal";
  font-weight: 400; /* Book */
  src: url("/fonts/airbnb-cereal/book.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal";
  font-weight: 500; /* Medium */
  src: url("/fonts/airbnb-cereal/medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal";
  font-weight: 700; /* Bold */
  src: url("/fonts/airbnb-cereal/bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal";
  font-weight: 800; /* Extra Bold */
  src: url("/fonts/airbnb-cereal/extrabold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal";
  font-weight: 900; /* Black */
  src: url("/fonts/airbnb-cereal/black.woff2") format("woff2");
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote {
  @apply prose sm:prose-sm lg:prose-lg xl:prose-xl prose-stone;
}

h1 {
  @apply text-4xl font-hero border-b-4 mt-8 leading-relaxed sm:pb-3 xl:pb-4;
}

h2 {
  @apply text-3xl border-b-4 mt-16 border-gray-900 pb-1;
  /* @apply font-hero; */
}

h3 {
  @apply text-lg border-b mt-8 border-gray-500;
}

.prose {
  /* h1 */
  /* h2 */
  @apply prose-h2:text-3xl prose-h2:leading-normal prose-h2:border-none prose-h2:mb-5;
  @apply prose-h2:mb-7 prose-h2:mt-14;
  @apply prose-h2:normal-case;
  @apply prose-h2:text-black;
  /* @apply prose-h2:border-l prose-h2:border-pink; */

  /* h3 */
  @apply prose-h3:text-2xl prose-h3:border-none prose-h3:leading-tight;
  @apply prose-h3:border-none prose-h3:leading-normal;
  @apply prose-h3:mb-4 prose-h3:mt-10;
  @apply prose-h3:text-black-800;

  /* h4 */
  @apply prose-h4:text-xl;

  /* p */
  @apply prose-p:leading-normal;
}

p {
  @apply my-8;
}

a {
  @apply text-blue-700 hover:text-pink-500 transition duration-300;
}

.article {
  @apply prose;
  @apply text-gray-800;
}

.article ul {
  @apply list-none;
}

.article li {
  @apply p-0;
  @apply my-4 mx-0;
  @apply text-lg;
}

.article a {
  @apply text-indigo-600;
  @apply hover:text-indigo-900;
}

.article li::before {
  content: "🌟 ";
}

.article img {
  @apply sm:min-w-[106%] sm:ml-[-3%] mt-5;
  /* min-width: 100vh; */
}

/* .capitalize-first::first-letter {
  text-transform: uppercase;
  @apply text-4xl;
} */
